.container-C-book {
    display: flex;
    flex-direction: column;
    background-color: rgb(88, 224, 172);
    height: 150px;
    border-radius: 10px;

}

.part-1 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
}

.part-2 {
    height: 30px;
    display: flex;
    justify-content: center;

}